{% extends 'base/base.html' %}
{% load static %}

{% block content %}

<section class="page-articles">
  <h3 class="articles__main-title">
    Одним из главных событий 2023 года на российском автомобильном рынке стала индексация утилизационного сбора с 1 августа, тут же вызвавшая рост цен, и в первую очередь на новые машины — как импортные, так и российской сборки.
    <hr size="2px">
  </h3>

  <div class="articles__text">
    <p>Рассмотрим основные положения по уплате «утиля» применительно к физлицам. Почему именно к ним? Дело в том, что именно они платят утильсбор самостоятельно, и цена ошибки (в прямом смысле) здесь велика. А вот покупатели машин, ввозимых официальным представительством бренда или по параллельному импорту, избавлены от такой необходимости. Утильсбор за них уплачивают сами импортеры и в дальнейшем просто включают его в конечную цену, которую покупатель видит в автосалоне или на сайте продавца.
    </p>
    <p>Не забудем и о важном уточнении: в новых правилах прописаны две категории автомобилей, которые ввозят через границу частники. Первая — <strong><em>«транспортные средства, ввозимые физическими лицами для личного пользования»</em></strong>, вторая — все прочие <strong><em>«транспортные средства, ввозимые физическими лицами»</em></strong>. На первую категорию распространяется так называемый льготный утильсбор, на вторую — коммерческий, ибо он совпадает с тем, что платят юридические лица. К разнице между этими категориями мы еще вернемся, а пока отметим, что правила подразумевают еще один важный признак группировки машин — возрастной. По нему машины делятся на те, которым еще не исполнилось три года, и на те, что уже старше трех лет.
    </p>
    <p>На льготный «утиль» можно рассчитывать при завозе автомобиля любого возраста, но с оформлением его на физическое лицо исключительно для личного пользования. Однако в этом правиле есть ограничение: все сказанное распространяется только на автомобили с двигателями внутреннего сгорания рабочим объемом менее трех литров. Для машин с ДВС больше трех литров льготный утильсбор, увы, не предусмотрен.
    </p>
    <p>Перед тем как перейти непосредственно к размеру «утиля», напомним, что он рассчитывается как произведение базовой ставки в 20 000 рублей на коэффициент, который и учитывает возраст, тип таможенного оформления и тип заявителя. Коэффициент, применимый к машинам моложе трех лет с ДВС до трех литров, составляет 0,17, стало быть, «утиль» на них — всего 3400 рублей. Если такая машина старше трех лет, заплатить нужно немногим больше — 5200 рублей.
    </p>

    <div class="block-with-photo d-flex flex-column align-items-start justify-content-start">
        <img src="https://s.auto.drom.ru/i24289/pubs/4483/95918/4181641.jpg" alt="auto-center" class="block-with-photo__img">
      <div class="block-with-photo__description">
        А вот для автомобилей с «большими» моторами расклад совершенно иной. На транспорт старше трех лет с мотором свыше 3000 куб. см, но не более 3500 куб. см, коэффициент уже огромный — <strong>74,25</strong>, что дает сумму&nbsp;<strong>1 485 000 рублей</strong>. Для машин с ДВС свыше 3500 «кубиков» коэффициент <strong>81,19</strong> дает «утиль» в размере <strong>1 623 800 рублей</strong>. Ровно столько же платят и юридические лица. Насколько сильно новые правила ударили по этому сегменту, увидим по итогам четвертого квартала, однако еще осенью серые дилеры сигнализировали нам, что с рынка ушли сразу несколько позиций вроде Hyundai Palisade c бензиновым мотором в 3,5 литра, да и спрос на «Прадики-Крузаки», особенно подержанные, несколько подсел
      </div>
    </div>

    <p>Интересно, что куда выгоднее ввезти такую машину возрастом не более трех лет. В этом случае утильсбор составит <strong>970 000 рублей</strong> для машин с мотором до трех литров, и <strong>1 235 200 рублей</strong> — для машин с мотором более 3,5 литра.
    </p>

    <p>Теперь вернемся к формулировке <strong><em>«автомобиль, ввозимый для личного пользования»</em></strong> — ключевой для понимания механизма получения льготного «утиля». Для расчета оплаты сбора на таможне нужно заполнить бланк, который так и называется «Расчет суммы утильсбора в отношении колесных транспортных средств (шасси)…» и так далее, не будем полностью приводить его длинное название. В этом бланке собраны сведения о плательщике, дате пересечения государственной границы и т. п. Есть в этом документе и следующая строка: «Транспортное средство ввозится для личного пользования», с вариантами ответов — «да» или «нет». Само собой, нужно поставить «да», однако это не станет необходимым условием для расчета льготного «утиля».
    </p>

    <p>Открываем «Таможенный кодекс» Евразийского экономического союза, в который входят Россия, Белоруссия, Казахстан, Армения и Киргизия. В разделе 7 главы 49 читаем: <em>«Таможенное декларирование товаров для личного пользования производится в письменной форме <strong>с применением пассажирской таможенной декларации</strong>»</em>. Таким образом, даже если заявитель указывает, что ввозит машину для личного пользования, но оформлена она была не по пассажирской декларации (а, к примеру, по товарной), он лишается возможности рассчитывать на льготный размер утильсбора.
    </p>

    <p>Именно об это и споткнулись тысячи покупателей подержанных иномарок в конце октября — их поставили перед необходимостью выплаты коммерческого утильсбора, то есть по ставкам юридических лиц. По идее, это должно было случиться уже после 1 августа, когда вступило в действие Постановление № 1118, регламентирующее новый порядок взимания «утиля». Об этом же за месяц до того предупреждал и министр промышленности и торговли Денис Мантуров — напомним, что именно его ведомство обычно выступает разработчиком проектов правительственных постановлений об индексации утильсбора. Однако с 1 августа Федеральная налоговая служба продолжала взимать льготный утильсбор на машины, которые были ввезены по товарным декларациям, но шли с пометкой «для личного пользования».</p>

    <p>Причина в следующем. Если не считать автомобилей, ввозимых из Японии через Дальний Восток, основная часть подержанных иномарок поступает на территорию Российской Федерации из других стран Евразийского экономического союза. То есть эти машины уже когда-то, задолго до введения новых правил начисления утильсбора в России, были растаможены на территории ЕАЭС, причем по товарным, а не по пассажирским декларациям. Именно поэтому и после 1 августа Федеральная таможенная служба разрешала по таким машинам льготный «утиль» только на том основании, что российские покупатели указывали их как товар для личного пользования
    </p>
<!--
    <div class="block-with-photo d-flex flex-column align-items-start justify-content-start">
        <img src="https://s.auto.drom.ru/i24289/pubs/4483/95918/4181643.jpg" alt="auto-center" class="block-with-photo__img">
      <div class="block-with-photo__description">
        Перед вами пример товарной декларации: этот Kia 2018 года был ввезен физическим лицом из Южной Кореи в Киргизию в феврале 2023 года. Хотя это было до индексации утильсбора в России, на такие машины льготные ставки уже не распространяются. Будьте внимательны!
      </div>
    </div>-->

    <p><strong>Правило третье.</strong> Если вы покупаете подержанную машину из дальнего зарубежья, и именно Российская Федерация, а не другая страна-член ЕАЭС становится первым адресом, оформляйте транспорт исключительно по пассажирской таможенной декларации.</p>
    <p><strong>Правило четвертое.</strong> Не ввозите второй автомобиль в течение 12 месяцев с момента ввоза первого (из любой страны). Даже если вы оформите его по пассажирской декларации, правило «личного пользования» не будет работать, и утиль за вторую машину в любом случае начислят по «коммерческой» ставке.</p>
    <p><strong>Правило пятое.</strong> В течение 12 месяцев не продавайте автомобиль, иначе разницу между коммерческим и льготным утильсбором придется государству возместить (теоретически это может сделать покупатель — если согласится, конечно): машина должна быть зарегистрирована в ГИБДД МВД РФ непосредственно на плательщика льготного утилизационного сбора в течение 12 месяцев с даты оформления таможенного приходного ордера.
    </p>
  </div>

  <div class="source-articles d-flex">
    <p class="me-2">Источник: </p>
    <a href="https://www.drom.ru/info/misc/95918.html?ysclid=lwyj6miqok287642641" target="bl">https://www.drom.ru/info/misc/95918.html?ysclid=lwyj6miqok287642641</a>
  </div>
</section>

<style>
  .page-articles {
    /*padding: 0px 100px !important;*/
	margin-top: 134px;
  }
  
  @media (max-width: 1200px) {
    .page-articles {
        margin-top: 75px;
    }
}
.

  @media(max-width: 1448px) {
    .page-articles {
      padding: 0px 40px !important;
    }
  }

  @media(max-width: 500px) {
    .page-articles {
      padding: 0px 20px !important;
    }
  }

  .articles__main-title {
    text-align: center;
    padding: 15px 100px 36px 100px;
  }

  @media(max-width: 873px) {
    .articles__main-title {
      padding: 15px 40px 36px 40px;
    }
  }

  @media(max-width: 500px) {
    .articles__main-title {
      padding: 15px 20px 25px 20px;
    }
  }

  .articles__text {
    font-weight: 500;
    font-size: 18px;
    line-height: 26px;
    color: #191919;
  }

  @media(max-width: 500px) {
    .articles__text {
      font-size: 16px;
      line-height: 22px;
    }
  }
 
  .block-with-photo {
    max-width: 100%;
    margin-top: 24px;
    margin-bottom: 24px;
  }

  .block-with-photo__img {
    max-width: 100%;
  }

  .block-with-photo__description {
    padding: 10px;
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
  }

  @media(max-width: 873px) { 
    .block-with-photo__description {
      font-size: 10px;
      line-height: 14px;
    }
  }

  .source-articles {
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    color: #191919;
  }

  .source-articles p {
    margin-bottom: 0px;
  }
</style>
{% endblock %}