{% extends 'base/base.html' %}
{% load static %}

{% block content %}

<section class="page-articles">
  <h3 class="articles__main-title">
    Заказать из-за границы или купить у дилера? Плюсы и минусы заказа популярных моделей Китайских производителей
    <hr size="2px">
  </h3>

  <div class="articles__text">
    <p>За последние два года российский автомобильный рынок сильно поменялся. Многие бренды один за другим исчезли, а цены на оставшиеся превзошли сами себя на 30 – 50%. Автосалоны, в надежде на хоть какую-то прибыль, продолжают поднимать эту планку все выше и выше, комплектуя автомобили ДОПами и услугами</p>

    <div class="block-with-photo d-flex flex-column align-items-start justify-content-start">
        <img src="https://blog.freshauto.ru/upload/iblock/82d/v6k6ktnhfnfvk4ku96k4l8mwrko4v4s9.jpeg" alt="auto-center" class="block-with-photo__img">
    </div>

    <p>Время так называемого «потребительского экстремизма» прошло. Когда покупатель крутил носом перед приличным немецким кроссовером за 2,5 млн руб. и под угрозой ухода в другой салон, выжимал из дилера скидки.
	</p>

    <p>Сегодня на рынке совсем другой model-mix. Серьезно подтянув качество, китайцы уверенно завладели солидным куском российского авторынка размером в 36%.
Давайте рассмотрим пару известных моделей от создателей из Поднебесной. А заодно разберемся, имеет ли смысл заказать авто из-за границы, или, все-таки, проще приобрести машину у дилера.
	<p>
	
	<p>Geely Coolray – неплохой представитель в обозначенной ценовой категории. Внешность кроссовера сложно назвать изысканным шедевром, но отторжения не вызывает и выглядит вполне современно. А в ярких цветовых исполнениях даже претендует на спорт. Мускулист, компактен, устремлен вперед. Замечательно подойдет для молодых и энергичных водителей, не обремененных большим семейством, так как для перевозки кучи вещей, колясок и прочего скарба автомобиль не очень пригоден.
	</p>

    <div class="block-with-photo d-flex flex-column align-items-start justify-content-start">
		<div class="row row-cols-2">
			<div class="col">
				<img src="https://blog.freshauto.ru/upload/iblock/eac/swvmtvz1af71a120ti98ozuk86nexej9.jpeg" alt="auto-center" class="block-with-photo__img">
			</div>
			<div class="col">
				<img src="https://blog.freshauto.ru/upload/iblock/11d/9ocfm0zz1ph7dab0iew65sqigelljjgz.jpeg" alt="auto-center" class="block-with-photo__img">
			</div>
		</div>
    </div>

    <p>В интерьере все довольно стильно и продумано. Качество отделки достойное – смотреть и трогать приятно.
Семидюймовая цифровая приборная панель умеет менять дизайн в зависимости от режима движения. А центральный 10,25-дюймовый дисплей радует хорошей скоростью работы и понятным меню.
	</p>
	<p>Внимание к деталям вроде оформления воздуховодов, наличия резиновых ковриков в нишах, удобных мест для хранения телефона и других мелочей, атмосферная подсветка в ночи, наводят на мысль, что вы находитесь в автомобиле более высокого класса.
	</p>
	<p>На заднем диване вполне просторно и комфортно для двоих пассажиров. А отсутствие центрального туннеля позволяет разместить и третьего без особых проблем. Багажник объемом 330 литров достаточно просторен для перевозки сумок из супермаркета. Но вот транспортировка мешков с картошкой или кучи нажитого имущества в этой машине слабо представляется.
	</p>
	<p>Автомобиль комплектуется 1,5-литровым турбомотором, который уверенно справляется с первой сотней за паспортные 8,1 секунды при мощности в 150 л.с., и за 7,9 секунды со 170 л.с. Весьма резвые показатели. И в поток влиться легко, и со светофора сигануть при желании можно.
	</p>
	<p>Расход топлива в комбинированном режиме не самый скромный – добирается до 10 литров. А если уж топить по-спортивному, то с удовольствием слопает и все 12-15 л.
	</p>
	
	<p><strong>Теперь самое интересное: что с ценой?</strong></p>
	<p>Окончательная стоимость, конечно, зависит от аппетита дилеров. А аппетит этот, прямо скажем, немалый. Да и китайские производители не стремятся поддерживать низкие цены на свою продукцию. Заняв «полумонопольную» позицию на российском авторынке, они без стеснения подняли цены на 29 – 75% за последние два года.
Но подсмотреть с чего начинается стоимость мы вполне можем.
	</p>
	
	<p>
	- Базовая комплектация Comfort стартует от 2 600 000 руб.<br>
	- Следующая – Luxury – от 2 700 000 руб.<br>
	- За богатенький Flagship придется отдать от 2 900 000 руб.<br>
	- Максимальная Exclusive – от 3 100 000 руб.<br>
	</p>
	<p>И это без учета стоимости предустановленных ДОПов, которые дилер обязательно постарается добавить в максимальном количестве. Нужны они вам или нет — вопрос последний. Платить за них все равно придется.
	</p>
	
	<p>А что, если заказать эти же авто напрямую из Китая?
На практике выходит, что при заказе от производителя автомобиль обходится дешевле на 200 – 300 тыс.руб., даже с учетом повышенного утилизационного сбора. И набор опций будет таким, каким его хочет видеть покупатель.
	</p>

	<p><strong>Подводя итог, можно сказать:</strong></p>	
	<p>Никаких выдающихся изысков в экстерьере, никакого космического дизайна. Все просто. Но узнаваемо. Chery смогли обрести свое собственное лицо и уже не нуждаются в создании бледных копий известных производителей. Широкая «пасть» решетки радиатора и зауженные фары придают автомобилю определенную агрессию и брутальность. Задняя часть на вид тяжеловата и простовата. В целом линии корпуса плавные и спокойные, без резких переходов и рельефов. При взгляде на 8 Pro, возникают мысли о солидности и основательности модели. Весьма привлекательные «много машины» за свою цену.
	</p>
	
	<p>В салоне все внушительно и по-богатому. Передняя панель с двумя сенсорными экранами, отделка кожей, мягкий пластик и эффектная глянцевая центральная консоль с тач-кнопками — выглядит впечатляюще. Но есть и неприятные моменты: глянец отлично пачкается, любое нажатие кнопки оставляет след. Да и на ярком свету панель бликует и становится сложно разглядеть информацию на кнопках.
	</p>
	
	<p>Обилие регулировок и выраженная боковая поддержка позволяют с комфортом устроиться на передних креслах. А второй ряд и вовсе удивляет пространством. Даже высоким людям легко разместиться, не касаясь коленями передних сидений. А отсутствие центрального туннеля дает возможность разместить троих пассажиров.
	</p>
	
	<p>На этом пространство не заканчивается. Автомобиль обладает и третьим рядом сидений, где устроиться могут не только дети, но даже взрослые. При этом сзади еще останется место для багажа.
При семиместном размещении размер багажника составляет скромные 193 литра. Но стоит сложить третий ряд, а, при необходимости, и второй — и вы получите целый 2101 литр свободного пространства. Вполне комфортно для перевозки кучи вещей, колясок и даже мебели.
	</p>
	
	<p>Двигатель 1,6 литра мощностью в 186 л.с. выдает отличную динамику для такого крупного семейного кроссовера. Первую сотню достигает за 8,9 сек. При этом расход топлива довольно скромный — до 8,5 л. в городе и в пределах 7 л. на трассе. Дополнительная плюшка в том, что производитель разрешает использовать 92-й бензин.
Двухлитровый турбомотор с вариатором и 170 лошадями разгоняется до сотни за 10 сек.
	</p>
	
	<div class="block-with-photo d-flex flex-column align-items-start justify-content-start">
        <img src="https://blog.freshauto.ru/upload/iblock/cc0/dl2hyhbkn126c5dga52aiifivyfqz1dg.jpeg" alt="auto-center" class="block-with-photo__img">
    </div>
	
	<p>А теперь перейдем к ценам. Стоит заметить, что даже в стартовой комплектации Tiggo 8 Pro обладает внушительным оснащением.
Самая простая комплектация — 1.6 RT Dreamline начинается от 3 710 000 руб.
	</p>
	
	<p>
	Следующая — 1.6 RT Ultimate обойдется уже от 3 830 000 руб.<br>
Модели с двухлитровым двигателем начинаются от 3 850 000 руб.
	</p>
	
	<p><strong>Вывод:</strong></p>
	<p>Chery Tiggo 8 Pro — автомобиль, обладающий внушительным и солидным экстерьером, богатой внутренней отделкой и хорошим оснащением. Он не растеряется на скоростной трассе и не испугается сельских дорог.
	</p>
	
	<p>Отлично подходит даже для больших компаний или семей с детьми. Огромное пространство салона и багажника позволяет перевозить что угодно — вещи, мебель, питомцев.</p>
	<p>Выгоднее заказывать напрямую из Китая.</p>
	
	<p>Сейчас китайские автопроизводители вполне успешно закрывают все сегменты рынка, от недорогих легковушек до элитных моделей с оснащением, не доступным многим конкурентам из Европы или Японии в сравнимой ценовой категории. В последнее время интерес к продукции из Поднебесной сильно возрос. Если с покупкой авто в салоне все предельно понятно, то с заказом напрямую из Китая стоит разобраться.
	</p>

	
	
	
	
	
	
  </div>

  <div class="source-articles d-flex">
    <p class="me-2">Источник: </p>
    <a href="https://blog.freshauto.ru/blog/obzory/zakazat-iz-za-granitsy-ili-kupit-u-dilera-plyusy-i-minusy-zakaza-populyarnykh-modeley-kitayskikh-pro/" target="bl">https://blog.freshauto.ru/blog/obzory/zakazat-iz-za-granitsy-ili-kupit-u-dilera-plyusy-i-minusy-zakaza-populyarnykh-modeley-kitayskikh-pro/</a>
  </div>
</section>

<style>
  .page-articles {
    /*padding: 0px 100px !important;*/
	margin-top: 134px;
  }
  
  @media (max-width: 1200px) {
    .page-articles {
        margin-top: 75px;
    }
}
.

  @media(max-width: 1448px) {
    .page-articles {
      padding: 0px 40px !important;
    }
  }

  @media(max-width: 500px) {
    .page-articles {
      padding: 0px 20px !important;
    }
  }

  .articles__main-title {
    text-align: center;
    padding: 15px 100px 36px 100px;
  }

  @media(max-width: 873px) {
    .articles__main-title {
      padding: 15px 40px 36px 40px;
    }
  }

  @media(max-width: 500px) {
    .articles__main-title {
      padding: 15px 20px 25px 20px;
    }
  }

  .articles__text {
    font-weight: 500;
    font-size: 18px;
    line-height: 26px;
    color: #191919;
  }

  @media(max-width: 500px) {
    .articles__text {
      font-size: 16px;
      line-height: 22px;
    }
  }
 
  .block-with-photo {
    max-width: 100%;
    margin-top: 24px;
    margin-bottom: 24px;
  }

  .block-with-photo__img {
    max-width: 100%;
  }

  .block-with-photo__description {
    padding: 10px;
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
  }

  @media(max-width: 873px) { 
    .block-with-photo__description {
      font-size: 10px;
      line-height: 14px;
    }
  }

  .source-articles {
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    color: #191919;
  }

  .source-articles p {
    margin-bottom: 0px;
  }
</style>
{% endblock %}